{{> head}}
    
    {{> navbar}}

    <div class="row">
        <div class="col-8">
            <h1>About Page</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Proin lorem nisi, sollicitudin vel rhoncus sed, commodo sit amet justo. 
                Suspendisse sed imperdiet lorem, id fermentum mauris. 
                Ut vel urna lectus. Fusce id enim ligula. 
                Pellentesque lacus quam, facilisis vel purus in, efficitur luctus lacus. 
                Phasellus imperdiet felis ac leo condimentum, sed volutpat libero interdum. 
                Pellentesque pretium elit sed urna aliquet, dignissim congue augue gravida. 
                Fusce aliquam cursus elit, at congue orci malesuada fermentum. 
                Nulla mollis, erat eu volutpat auctor, justo lectus porta sapien, ut facilisis odio odio non lacus. 
                Nulla pulvinar turpis id erat varius, id blandit lacus suscipit. 
                Curabitur aliquam, mi ac interdum cursus, nunc ex rhoncus dolor, at dignissim tellus metus et ligula. 
                Mauris tristique varius vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
            </p>
        </div>
        <div class="col-4">
            <img src="/assets/img/avatar-512.png" alt="avatar" class="img-thumbnail">
        </div>
    </div>

{{> footer}}